{% load widget_tweaks %}
{% load form_tags %}
<form action="{{from.action|default:request.path}}" role="form" id="{{form.id}}" method="{{form.method|default:'post'}}" enctype="multipart/form-data">
    <!-- CSRF TOKEN -->
    {% csrf_token %}
    <!-- Hidden fields -->
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
        {% if hidden_field.errors %}
            {% for error in hidden_field.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    <!-- Non field errors -->
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    {% endif %}
    <!-- Rendering Feilds -->
    <div class="row">
        <div class="col-md-12">
            {% for field in form.visible_fields %}
                {% if 'co-one' in field.field.widget.attrs.class %}
                    <div class="col-md-1">
                {% elif 'co-two' in field.field.widget.attrs.class %}
                    <div class="col-md-2">
                {% elif 'co-three' in field.field.widget.attrs.class %}
                    <div class="col-md-3">
                {% elif 'co-four' in field.field.widget.attrs.class %}
                    <div class="col-md-4">
                {% elif 'co-five' in field.field.widget.attrs.class %}
                    <div class="col-md-5">
                {% elif 'co-six' in field.field.widget.attrs.class %}
                    <div class="col-md-6">
                {% elif 'co-seven' in field.field.widget.attrs.class %}
                    <div class="col-md-7">
                {% elif 'co-eight' in field.field.widget.attrs.class %}
                    <div class="col-md-8">
                {% elif 'co-nine' in field.field.widget.attrs.class %}
                    <div class="col-md-9">
                {% elif 'co-ten' in field.field.widget.attrs.class %}
                    <div class="col-md-10">
                {% elif 'co-eleven' in field.field.widget.attrs.class %}
                    <div class="col-md-11">
                {% elif 'co-twelve' in field.field.widget.attrs.class %}
                    <div class="col-md-12">
                {% else %}
                    <div class="col-md-12">
                {% endif %}
                {% if field.field.widget.input_type == 'checkbox' %}
                    {% render_field field placeholder=field.label %}
                    {{ field.label_tag }}
                    {% rc_validate_error field %}
                    {% rc_field_help_text field %}
                {% else %}
                    {{ field.label_tag }}
                    {% render_field field class=form|rc_validate_class:field placeholder=field.label %}
                    {% rc_validate_error field %}
                    {% rc_field_help_text field %}
                {% endif %}
                </div>
            {% endfor %}
        </div>        
        <div class="col-md-12" style="margin-bottom: 10px;margin-top: 10px;">
            <div class="col-md-4 col-md-2" style="margin-bottom: 10px;">
                {% include 'elements/forms/buttons.html' with buttons=form.buttons %}
            </div>
        </div>
    </div>
</form>