{% if table_header %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            {% if 'title' in table_header %}
                <span class="navbar-brand">                    
                    {% if 'icon' in table_header %}
                        {{ table_header.icon|safe }}
                    {% endif %}
                    {{ table_header.title }}
                </span>
            {% endif %}
          </div>
          <ul class="nav navbar-nav pull-right">
            {% if 'buttons' in table_header %}
                {% for button in table_header.buttons %}
                    <li>
                        <a {% for attr_key,attr_value in button.items %}{% if attr_key != 'label' %}{{attr_key}}="{{attr_value}}"{% endif %}{% endfor %} style="margin: 5px;">
                            {{button.label|safe}}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if 'links' in table_header %}
                {% for link in table_header.links %}
                    <li>
                        <a {% for attr_key,attr_value in link.items %}{% if attr_key != 'label' %}{{attr_key}}="{{attr_value}}"{% endif %}{% endfor %} style="margin: 5px;" >{{link.label}}</a>
                    </li>
                {% endfor %}
            {% endif %}
          </ul>
        </div>
      </nav>
{% endif %}